/*
==============================

   Responsive Grid
   _grid.scss

==============================
*/


// Grid Containers

.row, [class^="grid-"] { position: relative; }
.row {
	max-width: 100%;
	padding: 0 1em;
	@include clearfix;
	& .row {
		padding: 0;
		clear: both;
		}
}
.constrain { max-width: 100%; width: $site-width; margin: 0 auto; }
.row.bleed { padding: 0 !important; }

[class^="grid-"] {
	width: 100%;
	margin: 0%;
	left: 0;
	display: block;
	min-height: 1px;
	overflow: hidden;
}

@media (min-width: $bp-mobile) {
	
	
	[class^="grid-"] { float: left; margin-left: 0; padding: 0; }
	[class^="grid-"] ~ [class^="grid-"] { margin-left: 2%; }
	
	// Grid Units
	
	@for $i from 1 through 12 {
		.grid-#{$i} { width: ($i * 8.5%) - 2; }
		.push-#{$i} { left: (8.5% * $i);}
		.pull-#{$i} { left:-(8.5% * $i);}
	}

}

// Non-collapsing Subgrid

.half, .third, .fourth, .twothirds {
	display: block;
	float: left;
}

.half {
	width: 49%;
	& ~ .half,
	& ~ .fourth,
	& ~ .twothirds {
		margin-left: 2%;
	}
}

.third {
	width: 32%;
	& ~ .third {
		margin-left: 2%;
	}
}



.fourth {
	width: 23%;
	& ~ .fourth {
		margin-left: 2.666666%;
	}
}
