// http://nicolasgallagher.com/micro-clearfix-hack/

@mixin clearfix {
  *zoom: 1;

  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

@mixin prefixer ($property, $value) {
      -webkit-#{$property}: $value;
      -moz-#{$property}: $value;
      -o-#{$property}: $value;
      #{$property}: $value;
}

@mixin transition ($properties...) {
  @if length($properties) >= 1 {
    @include prefixer(transition, $properties);
  }

  @else {
    $properties: all 0.15s ease-out 0;
    @include prefixer(transition, $properties);
  }
}
